*{
    margin: 0px;
    padding: 0px;
}

html{
  width: 100%;
  height: 100%;
}

body{
  width: 100%;
  height: 100%;
}

canvas{
  width: 100%;
  height: 100%;
}


#weather h1{
    width: 1000px;
    height: 300px;
    text-align: center;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 55;
    font-size: 300px;
}

#weather .oval{
    width: 80%;
    height: 70%;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #weather .temp{
    font-size: 70px;
    position: absolute;
    top: 82%;
    left: 100px;
}

  #weather .region{
    font-size: 40px;
    position: absolute;
    top: 85%;
    right: 50px;
}

  #date span{
    font-size: 100px;
    text-align: center;
    position: absolute;
    top: 83%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}

/* Clear */



/* Cluds */


.Clouds_body{
  background-color: #b6bfcc;
}

.Clouds h1 {
  font-family: 'Rubik 80s Fade', cursive;
  font-weight: 400;
  color: rgb(255, 102, 209);
}

.Clouds #date
{
  font-weight: 400;
  color: rgb(255, 102, 209);
}

.Clouds #design .time{
  width: 550px;
  height: 300px;
  z-index: 9;
  position: absolute;
  top: 83%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.Clouds #design .cloudsimg1{
  width: 650px;
  height: 500px;
  position: absolute;
  top: 1px;
}

.Clouds #design .cloudsimg2{
  width: 650px;
  height: 600px;
  position: absolute;
  top: 250px;
  left: 10%;
}

.Clouds #design .cloudsimg3{
  width: 650px;
  height: 400px;
  position: absolute;
  top: 600px;
  left: 50%;
}
